@model IEnumerable<APP_BEER_ME.Models.Stock>

@{
    ViewBag.Title = "Check Prices";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Beer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Units
        </th>
        <th>
            Price per Unit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Beer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Math.Round(((item.Beer.Volume * (item.Beer.ABV / 100)) / 10), 1, MidpointRounding.AwayFromZero)            
        </td>
        <td>
            €@Math.Round((((item.Beer.Volume * (item.Beer.ABV / 100)) / 10) / item.Price), 2, MidpointRounding.AwayFromZero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StockID }) |
            @Html.ActionLink("Details", "Details", new { id = item.StockID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StockID })
        </td>
    </tr>
}
    </table>
